#page {
    background: rgba(0, 0, 0, 0.5) url('https://images.wallpaperscraft.ru/image/gory_tuman_derevya_nebo_118876_2560x1080.jpg') no-repeat center center fixed;
    background-size: 120%;
    background-blend-mode: darken;
    height: 950px;
}